*{          /* -> Todo elemento*/
margin: 0; 
box-sizing: border-box; /* diminui o contudo de forma que td a borda tem o tamanho q eu defini */
 }
 .box{
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 10px solid black;
    margin: 2px;
    background-color: #ccc;
 }

 .content-box{
    box-sizing: content-box;
 }
 .border-box{
    box-sizing: border-box;
 }
#titulo{ 
    text-align: center;
    color: #f0140c;
    margin-top: 15px;
    }
label{ font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(25, 25, 143);
font-weight:bold;
}

.texto-paragrafo{
    text-align: center;
}
.entradas-usuario{
    
    text-align: center;
    border: 1px solid;
    width: 50%;
    margin: auto;
    position:absolute;
    bottom: 50%;
    left: 50%;           /*x   y */
    transform: translate(-50%,-50%); 
    padding: 10px;
    border-radius: 5px;
}

.rodape{
    position: fixed;
    bottom: 0;
    border: 1 px solid;
    width: 100%;
    background-color: aqua;
    padding-top: 10px;
    padding-bottom: 10px;
}
.campos{
    margin-bottom: 8px;
}



